extends layout

block content
  h1 <div style="text-align:center">OMG Albums!</div>
  
  body
  p 
    <div style="text-align:center">
    a(href='/albums') Let me see the albums RIGHT NOW!
    </div>
